*{
  font-size: 12pt;
}
body{
  margin: 10px;
}

#list{
  width: 13rem;
}

.grid {
  display: grid;
  grid-column-gap: 5px;
  padding: 5px 0;
  grid-template-columns: 10% 30% 45% 10%;
  border-top: solid transparent 2px;
  border-bottom: solid transparent 2px;
}

.draggableArea {
  padding: 1px 5px 0;
  width: 0.5em;
  font-size: 14pt;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
}

.remove_sorting{
  margin: 2px 0;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  height: 1.3em;
}
.remove_sorting:hover{
  filter: invert(17%) sepia(39%) saturate(4991%) hue-rotate(351deg) brightness(97%) contrast(112%);
  cursor: pointer;
}
#add_sorting{
  margin: 0 40%;
  font-size: 22pt;
  font-weight: bold;
  display: inline-block;
  width: 20%;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
#add_sorting:hover, #saveButton:hover{
  cursor: pointer;
}

#saveButton{
  margin: 2px auto;
  padding: 2px 5px;
}
