*{
  font-size: 12pt;
  font-family: sans-serif;
}
body{
  margin: 0;
}
h2{
  text-align: center;
}

#container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#list {
  width: 16rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid {
  border-left: solid black 5px;
  width: 100%;
  display: grid;
  grid-column-gap: 5px;
  padding: 5px;
  grid-template-columns: 10% 30% 45% 10%;
}

.draggableArea {
  padding: 1px 5px 0;
  width: 0.5em;
  font-size: 14pt;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
}

input:invalid{
  background-color: #ffaaaa;
}

.remove_sorting{
  margin: 2px 0;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  height: 1.3em;
}
.remove_sorting:hover{
  filter: invert(17%) sepia(39%) saturate(4991%) hue-rotate(351deg) brightness(97%) contrast(112%);
  cursor: pointer;
}
#add_sorting{
  margin: 0 45% 5px 45%;
  font-size: 22pt;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
#add_sorting:hover, #saveButton:hover{
  cursor: pointer;
}

#saveButtonContainer{
  width: 100%;
  margin: 2px 0 2px 39%;
}

#saveButton{
  padding: 4px 8px;
}

#checkmark{
  padding: 0 5px;
  color: transparent;
  transition: color 200ms ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

#note{
  width: 200%;
  font-size: 0.8em;
}
#note *{
  font-size: inherit;
}
#limitations{
  display: inline-block;
  color: #666666;
  cursor: help;
  border-bottom: dotted #666666 1pt;
}

#hoverInformation{
  position: relative;
  background-color: #909090;
  color: #FFFFFF;
  padding: 0.8em;
  border-radius: 1em;
  left: 170px;
  top: -32px;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
